// colors
$color-white: #ffffff;
$color-black: #000000;
$color-lighterblue: #485461;
$color-lightblue: #2b3b4b;
$color-darkblue: #283645;
$color-darkerblue: #1d2631;
$color-lightpink: #f1becc;
$color-pink: #d22856;
$color-lightgray: #f2f2f2;
$color-darkgray: #e5e5e5;
$color-darkergray: #b5b9be;
$color-darkestgray: #8d949b;
$color-green: #2aab6d;
$color-purple: #5d334c;
$color-red: #f25b26;

// button color
$color-btn-gray-border: #dddfe0;
$color-btn-gray-text: #e3e4e4;
$color-btn-gray-border--hover: #b5b9be;
$color-btn-gray-text--hover: #c4c6c8;
$color-btn-gray-bg--active: #b5b9be;
$color-btn-gray-text--active: #cdd0d3;

$color-btn-green-bg: #2aab6d;
$color-btn-green-bg--hover: #1c9b5e;
$color-btn-green-bg--disabled: #e5e5e5;
$color-btn-green-text--active: #7dbd99;

// brakepoints
$bp-mobile: 320px;
$bp-tablet: 660px;
$bp-desktop: 960px;

// inner width brakepoints
$inner-mobile: 280px;
$inner-tablet: 620px;
$inner-desktop: 940px;

// retina media expression
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// fonts
$font-primary: "opensans", "arial", sans-serif;
