// colors
$color-white: #ffffff;
$color-black: #000000;
$color-lightblue: #2b3b4b;
$color-darkblue: #283645;
$color-darkerblue: #1d2631;
$color-pink: #d22856;
$color-lightgray: #f2f2f2;
$color-darkgray: #e5e5e5;
$color-darkergray: #b5b9be;
$color-green: #2aab6d;

// brakepoints
$bp-mobile: 320px;
$bp-tablet: 660px;
$bp-desktop: 960px;

// inner width brakepoints
$inner-mobile: 280px;
$inner-tablet: 620px;
$inner-desktop: 940px;

// fonts
$font-primary: "opensans", Arial, sans-serif;
