// variables, helpers, mixins
@import "_variables.scss";
@import "_mixins.scss";
@import "_helpers.scss";

// base
@import "base/_normalize.scss";
@import "base/_typography.scss";
@import "base/_base.scss";

// blocks
@import "blocks/_advantages-list.scss";
@import "blocks/_advantages.scss";
@import "blocks/_btn.scss";
@import "blocks/_contacts.scss";
@import "blocks/_copyright.scss";
@import "blocks/_download.scss";
@import "blocks/_editor.scss";
@import "blocks/_effect.scss";
@import "blocks/_form.scss";
@import "blocks/_main-nav.scss";
@import "blocks/_map.scss";
@import "blocks/_offers.scss";
@import "blocks/_page-footer.scss";
@import "blocks/_page-header.scss";
@import "blocks/_photos.scss";
@import "blocks/_post-header.scss";
@import "blocks/_popup.scss";
@import "blocks/_prices.scss";
@import "blocks/_reviews.scss";
@import "blocks/_site-list.scss";
@import "blocks/_slider.scss";
@import "blocks/_social.scss";
@import "blocks/_text-block.scss";
@import "blocks/_upload.scss";
@import "blocks/_input-range.scss";
