.advantages-list {
  &__item {
    margin-bottom: 40px;
  }
  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-family: "opensansbold", "arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: $color-black;
    text-align: center;
  }
  &__text {
    margin: 0;
    text-align: center;
  }
}
