.advantages {
  padding-top: 45px;
  padding-bottom: 0;
  background-color: $color-lightgray;

  &__inner {
    width: $inner-mobile;
    margin: 0 auto;
  }

  &__inner::after {
    display: block;
    content: "";
    height: 287px;
    background: url("../img/iphone-screen-mobile@1x.png") 50% 8px no-repeat;
    background-size: 157px auto;
  }

  &__list {
    @include ul-reset();
  }
}

@media (min-width: $bp-tablet) {
  .advantages {
    &__inner {
      position: relative;
      width: $inner-tablet;
    }

    &__inner::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 150px;
    }
  }
}

@media (min-width: $bp-desktop) {
  .advantages {
    &__inner {
      width: $inner-desktop;
    }

    &__inner::after {
      display: none;
    }
  }
}
