.btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid $color-white;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  color: $color-white;
  font-family: "opensansbold", "arial", sans-serif;
  font-size: 18px;
  line-height: 49px;
  background: transparent;

  &--pink {
    border: 3px solid $color-pink;
    color: $color-pink;
  }

  &--gray {
    border: 3px solid $color-darkergray;
    color: $color-darkergray;
  }
}
