.contacts {
  padding-top: 45px;
  padding-bottom: 43px;

  &__inner {
    width: $inner-mobile;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin: 0;
    margin-bottom: 38px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    color: $color-darkblue;
  }

  &__item {
    margin-bottom: 27px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item-title {
    margin: 0;
    margin-bottom: 4px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: $color-darkblue;
  }

  &__info {
    display: block;
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    color: $color-pink;
    text-decoration: none;
  }
}

@media (min-width: $bp-tablet) {
  .contacts {
    &__inner {
      width: $inner-tablet;
    }

    &__list {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__item {
      width: 300px;
      margin-bottom: 55px;
    }

    &__item:nth-child(3) {
      margin: 0 auto;
      flex-grow: 1;
    }

    &__text {
      font-size: 40px;
    }
  }
}

@media (min-width: $bp-desktop) {
  .contacts {
    &__inner {
      width: $inner-desktop;
    }

    &__list {
      align-items: flex-start;
    }

    &__text {
      margin-bottom: 68px;
      font-size: 50px;
    }

    &__item:nth-child(2) {
      order: 2;
    }

    &__item:nth-child(3) {
      order: 1;
    }

    &__item-title {
      margin-bottom: 32px;
    }
  }
}
