.contacts {
  padding-top: 45px;
}

.contacts__inner {
  width: $inner-mobile;
  margin: 0 auto;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 42px;
}

.contacts__text {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  color: $color-darkblue;
}

.contacts__text--last {
  margin-bottom: 37px;
}

.contacts__item {
  margin-bottom: 27px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__item-title {
  margin: 0;
  margin-bottom: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: $color-darkblue;
}

.contacts__info {
  display: block;
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  color: $color-pink;
  text-decoration: none;
}

.contacts__info--email:hover {
  color: $color-darkblue;
  text-decoration: underline;
}

.contacts__info--email:active {
  color: $color-darkgray;
  text-decoration: none;
}

@media (min-width: $bp-tablet) {
  .contacts {
    padding-bottom: 0;
  }

  .contacts__inner {
    width: $inner-tablet;
  }

  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 24px;
  }

  .contacts__item {
    width: 300px;
    margin-bottom: 50px;
  }

  .contacts__item br {
    display: initial;
  }

  .contacts__item-title {
    margin-bottom: 7px;
  }

  .contacts__info {
    line-height: 29px;
  }

  .contacts__item:nth-child(3) {
    margin: 0 auto;
    flex-grow: 1;
  }

  .contacts__text {
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__text--last {
    margin-bottom: 45px;
  }
}

@media (min-width: $bp-desktop) {
  .contacts {
    padding-top: 71px;
    padding-bottom: 26px;
  }

  .contacts__inner {
    width: $inner-desktop;
  }

  .contacts__list {
    align-items: flex-start;
    padding-bottom: 0;
  }

  .contacts__text {
    margin-bottom: 12px;
    font-size: 50px;
  }

  .contacts__text--last {
    margin-bottom: 64px;
  }

  .contacts__item:nth-child(2) {
    order: 2;
  }

  .contacts__item:nth-child(3) {
    order: 1;
  }

  .contacts__item-title {
    margin-bottom: 25px;
  }
}
