.copyright {
  &__link {
    font-size: 14px;
    text-decoration: none;
    color: $color-darkblue;
  }

  &__link::after {
    position: relative;
    top: 13px;
    display: inline-block;
    width: 27px;
    height: 34px;
    margin-left: 15px;
    content: " ";
    background: url("../../img/logo-htmlacademy.svg") 50% 50% no-repeat;
  }
}
