.copyright__link {
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-decoration: none;
  color: $color-darkblue;
}

.copyright__icon {
  margin-left: 13px;
  fill: $color-pink;
}

.copyright__link:hover .copyright__icon {
  fill: $color-darkblue;
}

.copyright__link:active .copyright__icon {
  fill: $color-darkergray;
}

@media (min-width: $bp-tablet) {
  .copyright__link {
    height: 55px;
    line-height: 55px;
    font-size: 14px;
  }
}

@media (min-width: $bp-desktop) {
  .copyright__link {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
  }
}
