.download {
  padding-top: 28px;
  padding-bottom: 30px;
  background-color: $color-darkerblue;
}

.download__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: $inner-mobile;
  margin: 0 auto;
}

.download__btn {
  margin-bottom: 30px;
}

.download__btn:hover {
  background-color: $color-white;
  color: $color-pink;
}

.download__btn:active {
  background-color: $color-white;
  color: $color-lightpink;
}

.download__list {
  @include ul-reset();
  display: flex;
  margin-bottom: 20px;
}

.download__item {
  margin-right: 30px;
}

.download__item:last-child {
  margin-right: 0;
}

.download__link {
  display: block;
  width: 50px;
  height: 60px;
  font-size: 0;
  text-decoration: none;
}

.download__link--apple {
  background: url("../img/logo-apple.svg") 50% 50% no-repeat;
}

.download__link--android {
  background: url("../img/logo-android.svg") 50% 71% no-repeat;
}

.download__link--windows {
  background: url("../img/logo-microsoft.svg") 50% 71% no-repeat;
}

.download__text {
  margin: 0;
  color: $color-white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $bp-tablet) {
  .download {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }

  .download__title {
    margin-bottom: 29px;
    visibility: visible;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: $color-white;
  }

  .download__text {
    font-size: 18px;
  }

  .download__inner {
    width: 300px;
  }

  .download__list {
    margin-bottom: 32px;
  }

  .download__btn {
    margin-bottom: 45px;
  }
}

@media (min-width: $bp-desktop) {
  .download__title {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 61px;
  }

  .download__list {
    margin-bottom: 53px;
  }

  .download__btn {
    margin-bottom: 65px;
    font-size: 21px;
  }
}
