.effect {
  display: none;
}

@media (min-width: $bp-tablet) {
  .effect {
    display: block;
    padding-top: 59px;
    padding-bottom: 59px;
  }

  .effect__inner {
    width: $inner-tablet;
    margin: 0 auto;
  }

  .effect__content {
    display: flex;
    align-items: center;
  }

  .effect__clock {
    position: relative;
    width: 238px;
    height: 275px;
    margin-right: 71px;
    background-image: url("../img/icon-timer.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .effect__clock-inside {
    position: absolute;
    left: 18px;
    top: 55px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 202px;
    height: 202px;
    border: 13px solid $color-pink;
    border-radius: 50%;
    font-size: 96px;
    font-weight: 700;
    line-height: 162px;
    color: $color-pink;
    text-align: center;
  }

  .effect__description {
    margin-top: 10px;
    width: 310px;
  }

  .effect__title {
    margin: 0;
    margin-bottom: 10px;
    width: 170px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }

  .effect__text {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $color-darkerblue;
  }

  .effect__link {
    font-size: 14px;
    line-height: 24px;
    color: $color-pink;
  }
}

@media (min-width: $bp-desktop) {
  .effect {
    padding-bottom: 52px;
    background-color: $color-lightgray;
  }

  .effect__inner {
    width: $inner-desktop;
  }

  .effect__clock {
    width: 302px;
    height: 361px;
    margin-right: 64px;
    background-size: 300px 346px;
  }

  .effect__clock-inside {
    left: 22px;
    top: 70px;
    width: 253px;
    height: 253px;
    border: 17px solid $color-pink;
    font-size: 120px;
    line-height: 206px;
  }

  .effect__content {
    align-items: stretch;
  }

  .effect__description {
    margin-top: 91px;
    width: 535px;
  }

  .effect__title {
    margin-bottom: 21px;
    width: 100%;
  }

  .effect__title br {
    display: none;
  }

  .effect__text {
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
