.effect {
  display: none;
}

@media (min-width: $bp-tablet) {
  .effect {
    display: block;

    &__inner {
      padding-top: 59px;
      padding-bottom: 59px;
      width: $inner-tablet;
      margin: 0 auto;
    }

    &__content {
      display: flex;
      align-items: center;
    }

    &__clock {
      width: 300px;
      height: 280px;
      margin-right: 10px;
      background: url("http://placehold.it/240X280") no-repeat;
    }

    &__description {
      margin-top: 10px;
      width: 310px;
    }

    &__title {
      margin: 0;
      margin-bottom: 10px;
      width: 170px;
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
    }

    &__text {
      margin: 0;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 24px;
      color: $color-darkerblue;
    }

    &__link {
      font-size: 14px;
      line-height: 24px;
      color: $color-pink;
    }
  }
}

@media (min-width: $bp-desktop) {
  .effect {
    background-color: $color-lightgray;

    &__inner {
      width: $inner-desktop;
    }

    &__clock {
      width: 370px;
      height: 350px;
      margin-right: 10px;
      background: url("http://placehold.it/300X350") no-repeat;
    }

    &__description {
      width: 535px;
    }

    &__title {
      width: 100%;
    }

    &__text {
      font-size: 18px;
      line-height: 30px;
    }

    &__link {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
