.form {
  &__block {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  &__block:first-child {
    padding-top: 0;
    padding-bottom: 42px;
  }

  &__block--gray {
    background-color: $color-lightgray;
  }

  &__block--textarea {
    padding-bottom: 50px;
  }

  &__block--submit {
    padding: 0;
  }

  &__block-inner {
    width: $inner-mobile;
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__header-title {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
    color: $color-pink;
  }

  &__group {
    margin-bottom: 15px;
  }

  &__group:last-child {
    margin-bottom: 0;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: $color-pink;
  }

  &__input {
    box-sizing: border-box;
    padding-left: 20px;
    width: 100%;
    height: 63px;
    border-radius: 2px;
    border: 2px solid $color-darkgray;
    color: $color-darkblue;
  }

  &__textarea {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 200px;
    border: 2px solid $color-darkgray;
    border-radius: 2px;
    color: $color-darkblue;
  }

  &__btn {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 60px;
    font-family: "opnesansbold", "arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    background-color: $color-green;
    color: $color-white;
  }
}
