.offers {
  padding-top: 42px;
  padding-bottom: 40px;
}

.offers--small {
  padding-top: 46px;
  padding-bottom: 34px;
}

.offers--page-photo {
  padding-top: 46px;
  padding-bottom: 48px;
}

.offers--page-photo-bottom {
  padding-top: 45px;
  padding-bottom: 42px;
}

.offers__inner {
  width: $inner-mobile;
  margin: 0 auto;
}

.offers__text {
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  color: $color-darkblue;
}

.offers__text--small {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 30px;
}

.offers__text--page-photo {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: $bp-tablet) {
  .offers {
    padding-top: 50px;
  }

  .offers--small {
    padding-top: 92px;
    padding-bottom: 72px;
  }

  .offers--page-photo {
    padding-top: 93px;
    padding-bottom: 77px;
  }

  .offers--page-photo-bottom {
    padding-top: 63px;
    padding-bottom: 70px;
  }

  .offers__inner {
    width: $inner-tablet;
  }

  .offers__text {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
  }

  .offers__text--small {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
  }

  .offers__text--page-photo br {
    display: none;
  }

  .offers__text--small:last-child {
    display: block;
  }
}

@media (min-width: $bp-desktop) {
  .offers {
    padding-top: 67px;
    padding-bottom: 87px;
  }

  .offers--page-photo {
    padding-top: 91px;
    padding-bottom: 89px;
  }

  .offers--page-photo-bottom {
    padding-top: 61px;
    padding-bottom: 65px;
  }

  .offers__inner {
    width: $inner-desktop;
  }

  .offers__text {
    margin-bottom: 4px;
    font-size: 50px;
    line-height: 58px;
  }

  .offers__text--page-photo {
    width: auto;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 30px;
  }

  .offers__text--page-photo br {
    display: block;
  }
}
