.offers {
  padding-top: 42px;
  padding-bottom: 40px;

  &--small {
    padding-top: 46px;
    padding-bottom: 34px;
  }

  &--page-photo {
    padding-top: 46px;
    padding-bottom: 48px;
  }

  &--page-photo-bottom {
    padding-top: 45px;
    padding-bottom: 42px;
  }

  &__inner {
    width: $inner-mobile;
    margin: 0 auto;
  }

  &__text {
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    color: $color-darkblue;
  }

  &__text--small {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 30px;
  }
}

@media (min-width: $bp-tablet) {
  .offers {
    padding-top: 50px;

    &--small {
      padding-top: 92px;
      padding-bottom: 72px;
    }

    &--page-photo {
      padding-top: 93px;
    }

    &--page-photo-bottom {
      padding-top: 63px;
      padding-bottom: 70px;
    }

    &__inner {
      width: $inner-tablet;
    }

    &__text {
      width: 500px;
      margin-bottom: 0;
      margin: 0 auto;
      font-size: 18px;
      font-weight: normal;
      line-height: 30px;
    }

    &__text--small {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: normal;
      line-height: 30px;
    }

    &__text--small:last-child {
      display: block;
    }
  }
}

@media (min-width: $bp-desktop) {
  .offers {
    padding-top: 67px;
    padding-bottom: 87px;
    &__inner {
      width: $inner-desktop;
    }

    &__text {
      margin-bottom: 4px;
      font-size: 50px;
      line-height: 58px;
    }
  }
}
