.offers {
  &__inner {
    width: $inner-mobile;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 40px;
  }

  &__text {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    color: $color-darkblue;
  }

  &__text--small {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 30px;
  }
}

@media (min-width: $bp-tablet) {
  .offers {
    &__inner {
      width: $inner-tablet;
    }

    &__text {
      font-size: 40px;
      margin-bottom: 0px;
    }
  }
}

@media (min-width: $bp-desktop) {
  .offers {
    &__inner {
      width: $inner-desktop;
    }

    &__text {
      font-size: 50px;
    }
  }
}
