.photos {
  &__inner {
    width: $inner-mobile;
    margin: 0 auto;
  }

  &__item {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 21px;
  }

  &__item--panorama {
    width: 100%;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__img-wrap {
    min-height: 180px;
  }

  &__img-wrap--panorama {
    position: relative;
    min-height: 137px;
    height: 137px;
    overflow: hidden;
  }

  &__label {
    position: absolute;
    top: -137px;
    right: 0px;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-pink;
  }

  &__img {
    @include img-responsive();
  }

  &__content-wrap {
    padding: 18px;
    background-color: $color-lightgray;
  }

  &__content-wrap--panorama {
    position: relative;
    box-sizing: border-box;
    width: $inner-mobile;
    margin: 0 auto;
  }

  &__author {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $color-darkerblue;
  }

  &__date {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-darkergray;
  }

  &__text {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $color-darkerblue;
  }

  &__like {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-pink;
  }
}
