.photos {
  &__inner {
    width: $inner-mobile;
    margin: 0 auto;
  }

  &__item {
    width: 280px;
    margin-bottom: 21px;
  }

  &__item--panorama {
    width: 100%;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__img-wrap {
    min-height: 180px;
  }

  &__img-wrap--panorama {
    position: relative;
    min-height: 137px;
    height: 137px;
    overflow: hidden;
  }

  &__label {
    position: absolute;
    top: -137px;
    right: 0px;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-pink;
  }

  &__img {
    @include img-responsive();
  }

  &__content-wrap {
    box-sizing: border-box;
    padding: 18px;
    background-color: $color-lightgray;
  }

  &__content-wrap--panorama {
    position: relative;
    box-sizing: border-box;
    width: $inner-mobile;
    margin: 0 auto;
  }

  &__author {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $color-darkerblue;
  }

  &__date {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-darkergray;
  }

  &__text {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $color-darkerblue;
  }

  &__like {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-pink;
  }

  &__like-icon {
    width: 13px;
    height: 12px;
    margin-right: 19px;
    fill: $color-pink;
  }
}

@media (min-width: $bp-tablet) {
  .photos {
    &__inner {
      outline: 1px solid red;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: $inner-tablet;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 300px;
      margin-bottom: 20px;
    }

    &__inner &__item:nth-last-child(2) {
      margin-bottom: 0;
      outline: 2px solid red;
    }

    &__item--panorama {
      width: 100%;
      margin-bottom: 50px;
    }

    &__img-wrap {
      min-height: 300px;
    }

    &__img-wrap--panorama {
      min-height: 509px;
    }

    &__content-wrap {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-height: 155px;
      padding-top: 21px;
      padding-right: 32px;
      padding-left: 28px;
      padding-bottom: 25px;
    }

    &__content-wrap--panorama {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: $inner-tablet;
      min-height: 122px;
    }

    &__text {
      margin-bottom: 0;
    }

    &__label {
      top: -452px;
    }

    &__author--panorama {
      order: -2;
    }

    &__like {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      margin-top: auto;
    }

    &__like-icon {
      margin-right: 0;
    }

    &__like-icon--panorama {
      margin-left: 17px;
    }

    &__like--panorama {
      width: auto;
      order: -1;
    }
  }
}
