.post-header {
  margin-top: -66px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: $color-lightblue;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: $color-lightblue;
  }

  &--small {
    min-height: 237px;
  }

  &__inner {
    position: relative;
  }

  &__inner--background {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    min-height: 732px;
    height: 732px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-size: 258px 286px;
    background-position: 2% 176px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px 286px;
      background-position: 2% 176px;
      background-repeat: no-repeat;
    }
  }

  &__inner--small {
    width: $bp-mobile;
    margin: 0 auto;
  }

  &__title {
    width: 269px;
    margin: 0 auto;
    padding-top: 98px;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    color: $color-white;
  }
}

@media (min-width: $bp-tablet) {
  .post-header {
    margin-top: -110px;
    min-height: 729px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;
    background-position: 50% 0;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-size: 1200px auto;
      background-color: $color-lightblue;
      background-repeat: no-repeat;
    }

    &--small {
      min-height: 438px;
    }

    &__title {
      width: 480px;
      padding-top: 180px;
      font-size: 50px;
      line-height: 60px;
    }

    &__inner--background {
      display: block;
      margin: 0 auto;
      width: $inner-tablet;
      min-height: 729px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-position: bottom;
      background-size: 700px 545px;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-position: bottom;
        background-size: 700px 545px;
        background-repeat: no-repeat;
      }
    }

    &__inner--small {
      width: $inner-tablet;
    }

    &__background {
      height: 729px;
    }

    &__download {
      width: 300px;
      margin-top: 200px;
    }
  }
}

@media (min-width: $bp-desktop) {
  .post-header {
    min-height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;
    background-position: 50% 0;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
      background-color: $color-lightblue;
      background-repeat: no-repeat;
    }

    &__inner {
      width: $inner-desktop;
    }

    &__inner--background {
      min-height: 853px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-position-y: bottom;
      background-position-x: 16px;
      background-size: 1050px 645px;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-position-y: bottom;
        background-position-x: 16px;
        background-size: 1050px 645px;
        background-repeat: no-repeat;
      }
    }

    &--small {
      min-height: 395px;
    }

    &__title--page-form {
      width: 780px;
      padding-top: 174px;
    }

    &__title--page-photo {
      padding-top: 174px;
    }

    &__download {
      margin-top: 217px;
    }
  }
}
