.post-header {
  margin-top: -66px;
  background: url("../img/bg-back-mobile@1x.jpg") 50% 0 no-repeat;
  background-color: $color-lightblue;

  &--small {
    min-height: 237px;
  }

  &__background {
    order: 2;
    min-height: 462px;
    background: url("../img/iphone-hand-mobile@1x.png") 2% 175px no-repeat;
  }

  &__inner {
    position: relative;
  }

  &__inner--small {
    width: $bp-mobile;
    margin: 0 auto;
  }

  &__title {
    width: 269px;
    margin: 0 auto;
    padding-top: 98px;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    color: $color-white;
  }
}

@media (min-width: $bp-tablet) {
  .post-header {
    margin-top: -110px;
    min-height: 729px;

    &--small {
      min-height: 438px;
    }

    &__title {
      width: 480px;
      padding-top: 180px;
      font-size: 50px;
      line-height: 60px;
    }

    &__inner {
      display: flex;
      margin: 0 auto;
      width: $inner-tablet;
    }

    &__inner--small {
      width: $inner-tablet;
    }

    &__background {
      width: $inner-tablet;
      height: 729px;
    }

    &__download {
      order: 1;
      margin-top: 200px;
    }
  }
}

@media (min-width: $bp-desktop) {
  .post-header {
    min-height: 853px;
    &__inner {
      width: $inner-desktop;
    }

    &--small {
      min-height: 395px;
    }

    &__title--page-photo {
      padding-top: 174px;
    }

    &__download {
      margin-top: 217px;
    }
  }
}
