.prices {
  padding-top: 65px;
  padding-bottom: 40px;
  background-color: $color-lightgray;

  &__inner {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  &__list {
    @include ul-reset();
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 840px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 98px;
    border-left: 1px solid $color-darkgray;
    border-right: 1px solid $color-darkgray;
    background-color: $color-darkblue;
  }

  &__header--blank {
    background-color: transparent;
    border-bottom: 1px solid $color-darkgray;
    border-left: none;
    border-right: none;
  }

  &__header-title {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
    line-height: 30px;
  }

  &__cost {
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: $color-white;
    line-height: 30px;
  }

  &__currency {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    line-height: 28px;
  }

  &__features-list {
    @include ul-reset();
    border-bottom: 1px solid $color-darkgray;
  }

  &__feature {
    box-sizing: border-box;
    display: block;
    height: 60px;
    padding-left: 22px;
    line-height: 60px;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-darkblue;
    border: 1px solid $color-darkgray;
    background-color: $color-white;
  }

  &__item {
    flex-shrink: 0;
    width: 280px;
  }

  &__item:first-child {
    display: none;
  }

  &__item:first-child .prices__feature {
    border-left: 2px solid $color-darkgray;
  }

  &__item:last-child .prices__feature {
    border-right: 2px solid $color-darkgray;
  }

  &__toggles {
    margin-top: 40px;
  }
}

@media (min-width: $bp-tablet) {
  .prices {
    padding-top: 36px;
    padding-bottom: 68px;

    &__inner {
      width: $inner-tablet;
    }

    &__list {
      position: initial;
      left: unset;
      transform: unset;
      width: 100%;
    }

    &__feature {
      padding-left: 15px;
      height: 47px;
      line-height: 47px;
      font-size: 14px;
      text-transform: none;
    }

    &__item {
      flex-shrink: 0;
      width: 154px;
    }

    &__item:first-child {
      display: block;
    }

    &__item:not(:first-child) .prices__feature-text {
      display: none;
    }

    &__header {
      height: 79px;
    }

    &__header-title {
      font-size: 16px;
    }

    &__toggles {
      display: none;
    }
  }
}

@media (min-width: $bp-desktop) {
  .prices {
    padding-top: 67px;
    padding-bottom: 95px;

    &__inner {
      width: $inner-desktop;
    }

    &__item {
      flex-shrink: 0;
      width: 235px;
    }

    &__feature {
      height: 59px;
      padding-left: 23px;
      font-size: 18px;
    }

    &__header {
      height: 98px;
    }

    &__header-title {
      font-size: 18px;
    }

    &__cost {
      font-size: 24px;
    }
  }
}
