.reviews {
  padding-top: 41px;
  padding-bottom: 60px;

  &__inner {
    width: $inner-mobile;
    margin: 0 auto;
  }

  &__list {
    margin-bottom: 31px;
  }

  &__item {
    max-width: 680px;
    margin: 0 auto;
  }

  &__item:not(:first-child) {
    display: none;
  }

  &__author {
    display: block;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
    color: $color-black;
  }

  &__author-info {
    display: none;
  }

  &__text {
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
  }
}

@media (min-width: $bp-tablet) {
  .reviews {
    padding-top: 37px;

    &__inner {
      width: $inner-tablet;
    }

    &__list {
      margin-bottom: 26px;
    }

    &__item {
      display: flex;
      flex-direction: column;
    }

    &__author {
      margin-bottom: 2px;
      font-size: 20px;
    }

    &__author-info {
      display: block;
      margin: 0;
      margin-bottom: 8px;
      text-align: center;
      font-size: 14px;
      line-height: 30px;
      color: $color-darkerblue;
    }

    &__text {
      order: -1;
      margin-bottom: 34px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

@media (min-width: $bp-desktop) {
  .reviews {
    padding-top: 185px;
    padding-bottom: 80px;

    &__inner {
      width: $inner-desktop;
    }

    &__text {
      margin-bottom: 36px;
    }

    &__author-info {
      font-size: 18px;
    }

    &__author {
      font-size: 24px;
    }
  }
}
