.site-list {
  @include ul-reset();
  display: block;
  text-align: center;

  &--opened {
    display: block;
    border-top: 1px solid #000000;
  }

  &--closed {
    display: none;
    border-bottom: none;
  }

  &__item {
    background-color: $color-darkblue;
    border-bottom: 1px solid $color-black;
    border-top: 1px solid $color-lighterblue;
    // box-shadow: 0 -1px 0 $color-black,
    //   inset 0 1px 0 rgba($color-white, 0.15);
  }

  &__link {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 65px;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media (min-width: $bp-desktop) {
  .site-list {
    display: flex;
    justify-content: space-between;

    &__item {
      background: transparent;
      border: none;
    }

    &__link {
      font-weight: normal;
      text-transform: none;
    }
  }
}
