.slider {
  &__toggles {
    text-align: center;
  }

  &__toggle {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0 8px;
    border-radius: 50%;
    border: 3px solid $color-white;
    background-color: $color-darkergray;
    text-indent: -50px;
    overflow: hidden;
    cursor: pointer;
  }

  &__toggle--lightgrey {
    border: 3px solid $color-lightgray;
  }

  &__toggle--active {
    border: 3px solid $color-darkblue;
    background: $color-white;
  }
}
