.slider {
  &__toggles {
    text-align: center;
  }
  &__toggle {
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    padding: 0;
    margin-right: 16px;
    border-radius: 50%;
    border: none;
    background-color: $color-darkergray;
    text-indent: -50px;
    overflow: hidden;
  }
  &__toggle--active {
    width: 12px;
    height: 12px;
    border: 3px solid $color-darkblue;
    background: $color-white;
  }
}
