.slider {
  position: relative;
}

.slider__controls {
  display: none;
}

.slider__toggles {
  text-align: center;
}

.slider__toggle {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  border: 3px solid $color-white;
  background-color: $color-darkgray;
  text-indent: -50px;
  overflow: hidden;
  cursor: pointer;
}

.slider__toggle:hover {
  background-color: $color-darkergray;
  border: 3px solid $color-white;
}

.slider__toggle:active {
  background-color: $color-lightgray;
  border: 3px solid $color-white;
}

.slider__toggle--lightgrey {
  border: 3px solid $color-lightgray;
}

.slider__toggle--active {
  border: 3px solid $color-darkblue;
  background: $color-white;
}

@media (min-width: $bp-tablet) {
  .slider__toggle {
    margin: 0 4px;
  }
}

@media (min-width: $bp-desktop) {
  .slider__toggle {
    display: none;
  }

  .slider__controls {
    display: block;
  }

  .slider__control {
    position: absolute;
    top: 14%;
    width: 30px;
    height: 42px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .slider__control--prev {
    left: 0;
  }

  .slider__control--next {
    right: 0;
  }

  .slider__control-icon {
    fill: $color-darkgray;
  }

  .slider__control-icon:hover {
    fill: $color-darkergray;
  }

  .slider__control-icon:active {
    fill: $color-lightgray;
  }
}
