.social {
  &__list {
    @include ul-reset();
    display: flex;
  }

  &__link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    margin: 0 6px;
    border-radius: 50%;
    border: 3px solid $color-darkgray;
    font-size: 0;
  }

  &__link:hover {
    border: 3px solid $color-darkblue;
  }

  &__link:active {
    border: 3px solid $color-lightgray;
  }

  &__link:active &__icon {
    fill: $color-lightpink;
  }

  &__icon {
    fill: $color-pink;
  }

  &__icon:active {
    fill: $color-lightpink;
  }
}
