.upload {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $color-lightgray;

  &__inner {
    width: $inner-mobile;
    margin: 0 auto;
  }

  &__img {
    display: block;
    margin-bottom: 38px;
  }

  &__editor {
    margin-bottom: 70px;
  }

  &__editor::after {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 30px;
    display: block;
    content: "1";
    border-bottom: 1px solid $color-darkgray;
    font-size: 0;
  }

  &__btn-post {
    margin-bottom: 12px;
  }
}
