.upload {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $color-lightgray;

  &__inner {
    width: $inner-mobile;
    margin: 0 auto;
  }

  &__img {
    @include img-responsive();
    display: block;
    margin-bottom: 38px;
  }

  &__editor {
    margin-bottom: 70px;
  }

  &__editor::after {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 30px;
    display: block;
    content: "1";
    border-bottom: 1px solid $color-darkgray;
    font-size: 0;
  }

  &__btn-post {
    margin-bottom: 12px;
  }
}

@media (min-width:$bp-tablet) {
  .upload {
    padding-top: 56px;
    padding-bottom: 53px;

    &__inner {
      width: $inner-tablet;
    }

    &__form {
      display: flex;
      justify-content: space-between;
    }

    &__img-wrap {
      width: 300px;
    }

    &__img {
      margin-bottom: 0;
    }

    &__editor {
      margin-bottom: 64px;
    }

    &__editor-wrap {
      width: 275px;
      margin-top: -17px;
    }

    &__btn-wrap {
      width: 260px;
    }

    &__btn-post {
      margin-bottom: 21px;
    }

    &__editor::after {
      display: none;
    }
  }
}

@media (min-width: $bp-desktop) {
  .upload {
    box-sizing: border-box;
    width: $inner-desktop;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 57px;
    padding-bottom: 56px;

    &__inner {
      width: 801px;
    }

    &__editor-wrap {
      width: 410px;
    }

    &__editor {
      margin-bottom: 143px;
    }

    &__btn-wrap {
      display: flex;
      justify-content: space-between;
      width: auto;
    }

    &__btn-post {
      width: 184px;
      margin-bottom: 0px;
    }

    &__btn-reset {
      width: 184px;
    }
  }
}
